@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
}

header.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: left;
    background-color: #B9B4C7;
    padding-block: 10px;
    z-index: 999;
}

header.navbar-container .logo img {
    width: 150px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: left;
    gap: 2rem 1rem;
    background-color: #B9B4C7;
}

header.navbar-container .nav-list li {
    list-style-type: none;
    background-color: #B9B4C7;
    
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}

main {
    max-width: 1000px;
    width: 73%;
    margin-inline: auto;
    /* padding: 2rem; */
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: left;
    background-color: white;
}

main .content {
    flex: 1 1;
    display: flex;
    width: 75%;
    align-items: left;
    position: relative;
}

main .content .content-description {
    flex: 1 1;
    width: 75%;
    align-items: left;
}

main .content .content-description .title {
    font-size: 3.5rem;
    margin-block: 1rem;
}

main .content .content-description p {
    line-height: 1.7rem;
    font-size: 1rem;
    justify-content: justify;
}


main aside {
    position: relative;
    inset-block: 0;
    inset-inline-end: 0;
    width: 27%;
    display: flex;
    /* max-width: 2000px; */
}

main aside .profile {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

main aside .profile ul {
    padding: 10px;
    margin: 0.1px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #FAF0E6;

    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: left;
    position: relative;
    /* gap: 1.5rem; */
}

main aside profile .h2 {
    /* padding: 10px; */
    align-items: center;
}

main aside .section {
    display: flex;
    position: relative;
}

.profile img {
    width: 150px;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #FAF0E6;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
}

footer {
    padding: 10px;
}

/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: .5rem;
    }

    main {
        padding: 1rem;
    }

    main .content {
        flex-direction: column;
        gap: 1rem;
    }

    main .content .content-description .title {
        font-size: 3rem;
    }

    main .content .content-description p {
        font-size: 1rem;
    }

    main .content .content-image {
        order: -1;
    }
}